<div class="md-footer-meta__inner">
  <div class="md-footer-copyright">
    <small>&copy; <span id="year"></span> Git in 30 Minutes</small>
  </div>
  <div class="md-footer__disclaimer">
    <small>
      “Git” is a trademark of Software Freedom Conservancy, Inc. This site is not affiliated with the Git project.
      “In 30 Minutes” is a registered trademark of i30 Media Corp. This site is not affiliated with i30 Media.
    </small>
  </div>
</div>
<script>document.getElementById('year').textContent = new Date().getFullYear();</script>